.card-product {
  height: auto;
  display: flex;
  align-items: center;
  margin: 25px;
  gap: 20px;
  margin-top: -10px;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;

}

.card-product img:hover {
  height: 100%;
  width: 50%;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
  margin-top: 20px;

}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 20px;
  text-align: justify;
}

/* #projects {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 55px;
  font-size: 25px;
} */

.card-product .card-product-infos {
  padding-left: 80px;

}

.card-product .card-product-infos i {
  margin-left: 15px;
  font-size: 25px;

}

.container {
  width: 70%;
  /* margin: 0 auto; */
}

.container h2 {
  font-size: 20px;

}

.outline-button {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.outline-button:hover {
  background-color: #fff;
  color: #000;
}

.dark-outline-button {
   display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  border: 2px solid #000000;
  border-radius: 10px;
  transition: all 0.3s ease;
}


.dark-outline-button:hover {
  background-color: black;
  color: white;
}

#skill-odoo {
  height: 20px;
  width: auto;
  filter: grayscale(100%);
  background-color: transparent;
}

#Zebroo {
  background-color: #c7d2ad;;
}

#Pfarrverband-Puchheim {

}

#Fridgy {
  background-color: #c7d2ad;;
}

#Equ-Win {

}

#ShipBnB {
  background-color:  #c7d2ad;;
}

@media screen and (max-width: 768px) {
  .tab button {
    flex: 1 1 100%;
  }

  .tab-content .card-product img {
    width: 100%;
    height: auto;
  }

  .card-product {
    flex-direction: column;
  }

  .card-product .card-product-infos {
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {

  .card-product {
    flex-direction: column;
  }

  .tab-content .card-product img {
    width: 100%;
  }


  h2 {
    font-size: 1.5em;
  }

  .tab button {
    font-size: 0.8em;
  }


.card-product .card-product-infos {
  padding-left: 0;
}

}
